@use '../../styles/variables' as *;

.counter {
  button {
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    margin: 0 0.5rem;
  }
}

.text {
  font-size: 1.3rem;
  color: var(--color-primary-dark);
}