@use '../../styles/variables' as *;

.review {
  padding: 1rem;
  background-color: var(--color-background);
  border-left: 4px solid var(--color-accent);
  margin-bottom: 1rem;
  border-radius: $radius;

  h4 {
    font-weight: 600;
    color: var(--color-text);
    font-family: $font-heading;
  }

  p {
    margin-top: 0.5rem;
    color: var(--color-text);
  }
}
