@use '../../styles/variables' as *;

.button {
  padding: 0.5rem 1rem;
  border-radius: $radius;
  cursor: pointer;
  font-weight: 500;
  font-family: $font-base;
  font-size: 1.2rem;
  transition: background-color $transition;

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.primary {
  background-color: $color-white;
  border: 1px solid $color-accent;
  color: $color-primary;

  &:hover:not(:disabled) {
    background-color: $color-background;
    color: $color-primary;
  }

  &.active {
    background-color: $color-accent;
    color: $color-white;
  }
}

.secondary {
  background-color: $color-white;
  color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: $radius;
  cursor: pointer;
  transition: background-color $transition;

  &:hover:enabled {
    background-color: $color-light;
  }
}

.left {
  margin-right: 1rem;
}

.right {
  margin-left: 1rem;
}

.top {
  margin-bottom: 1rem;
}

.bottom {
  margin-top: 1rem;
}
