@use '../../styles/variables' as *;

.restaurant {
  background-color: var(--color-background);
  padding: 2rem;
  border-radius: $radius + 4px;
  margin-top: 1rem;
}
.navContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

