.dark {
  --color-primary: #8e2e43;
  --color-primary-dark: #671c30;
  --color-accent: #a6465a;
  --color-background: #1a1213;
  --color-light: #2e2023;
  --color-dark: #cab3b8;
  --color-border: #3d2a30;
  --color-text: #e5d1d5;
  --color-muted: #a68e94;
  --color-white: #ffffff;
  --color-input-background: #2a1e22;
}