.normal{
  --color-primary: #8e2e43;
  --color-primary-dark: #671c30;
  --color-accent: #a6465a;
  --color-background: #fdf6ee;
  --color-light: #f2e9db;
  --color-dark: #1e1e1e;
  --color-border: #ddd;
  --color-text: #4a2c2a;
  --color-muted: #999;
  --color-white: #ffffff;
  --color-input-background: #f0e6e8;
}