.normal{
  --color-primary: #b8576b;
  --color-primary-dark: #944654;
  --color-accent: #c07280;
  --color-accent-hover: #945c68;
  --color-accent-rgb: 192, 114, 128;
  --color-background: #fdf6ee;
  --color-light: #f2e9db;
  --color-dark: #1e1e1e;
  --color-border: #ddd;
  --color-text: #4a2c2a;
  --color-muted: #999;
  --color-white:#f7e3e6;
  --color-input-background: #f0e6e8;
}