@use '../../styles/variables' as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-base;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.header {
  background-color: var(--color-primary-dark);
  padding: 1rem 2rem;
  color: var(--color-white);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 0.875rem;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.header,
.footer {
  flex: 0 0 auto;
}