@use '../../styles/variables' as *;

.menuItem {
  color: var(--color-accent);
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.2s;

  &:hover {
    color: var(--color-accent-hover);
  }
}
